*
!.gitignore
!Makefile

!**/*.md
!**/*.h
!**/*.c
!**/*.mm
!**/*.cpp

!/dust
!/dust/core
!/dust/gui
!/dust/libs
!/dust/regex
!/dust/render
!/dust/thread
!/dust/widgets

!/programs
!/programs/hello
!/programs/dusted

!/tools
!/tools/win
!/tools/win/*.bat
